<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="POST" th:object="${userAuthentication}">
    <label for="username" >Enter username</label><br/>
    <input id="username"  placeholder="Username" th:field="*{username}"><br/>

    <label for="password" >Enter password</label><br/>
    <input type="password" id="password" placeholder="Password" th:field="*{password}"><br/>

    <div >
        <a th:href="@{/register}"  type="button">Create new account</a>
    </div>

    <div >
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>